@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #101828;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 375px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}
.text-large {
  font-size: 18px;
}

.text-normal {
  font-size: 16px;
  line-height: 140%;
}

.text-specific {
  font-size: 12px;
}

.btn-primary {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 20px;
  margin: 8px;
  text-align: center;
  color: #fff;
  background: #212529;
  font-size: 16px;
  line-height: 140%;
  transition: 0.5s;
}
.btn-primary:hover {
  background: #DDD7C0;
  color: #212529;
}
.btn-primary:active {
  background: #cbc6b2;
}
.btn-primary.disabled {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(33, 37, 41, 0.5);
}

.btn-secondary {
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 8px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}
.btn-secondary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  transition: 0.5s;
}
.btn-secondary:hover {
  color: #DDD7C0;
}
.btn-secondary:hover::after {
  background: #DDD7C0;
}
.btn-secondary:active {
  color: #CBC6B2;
}
.btn-secondary:active::after {
  background: #CBC6B2;
}

.input-blok {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 8px;
  margin-top: 16px;
}
.input-blok label {
  position: absolute;
  left: 0;
  top: 0;
  color: #212529;
  font-size: 16px;
  transition: 0.5s;
}
.input-blok input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #212529;
  transition: 0.5s;
}
.input-blok input:focus {
  border-bottom: 1px solid #DDD7C0;
}
.input-blok input:focus ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}
.input-blok input.error {
  border-bottom: 1px solid #E13A3A;
}
.input-blok input.error ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}
.input-blok input.success {
  border-bottom: 1px solid #F9C67B;
}
.input-blok input.success ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}

.container {
  max-width: 1440px;
  padding: 0 2%;
  margin: auto;
}

.header-container {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: start;
}
.header-container .header__logo {
  flex: 8;
}
.header-container .header__logo img {
  width: 70px;
  height: 74px;
}
.header-container .header__tel {
  flex: 2;
}
.header-container .header__tel a {
  display: block;
  position: relative;
  text-align: end;
}
.header-container .header__tel a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right bottom;
}
.header-container .header__tel a:hover::after {
  transform: scaleX(1);
  transform-origin: left bottom;
}

.header__nav {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 8px;
}
.header__nav .nav__link {
  position: relative;
  font-size: 18px;
}
.header__nav .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right bottom;
}
.header__nav .nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: left bottom;
}

.hero-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
  grid-template-areas: "A A A A   A A A B   B B B B" "C C C C   1 1 D D   D D D D" "E E E 0   1 1 D D   D D D D";
}
.hero-container .hero__title {
  grid-area: A;
}
.hero-container .hero__btn {
  grid-area: B;
  align-self: flex-end;
  justify-self: end;
}
.hero-container .hero__text {
  grid-area: C;
}
.hero-container .hero__text p {
  font-size: 20px;
}
.hero-container .hero__img-big {
  grid-area: D;
}
.hero-container .hero__img-small {
  grid-area: E;
}

.about-conatiner {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "A A A A A A  B B B B B B" "- - - - - -  C C C C C C";
}
.about-conatiner .about__title {
  grid-area: A;
}
.about-conatiner .about__title h2 {
  max-width: 570px;
}
.about-conatiner .about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 16px;
  grid-area: B;
  margin-bottom: 44px;
}
.about-conatiner .about__text p {
  max-width: 450px;
}
.about-conatiner .about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 24px;
  grid-area: C;
}
.about-conatiner .about__info .info__item {
  max-width: 150px;
}

.steps-container {
  margin-top: 144px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 20px;
  grid-template-areas: "A A A A A A  B B B B B B" "- - - - - -  C C C C C C";
}
.steps-container .steps__title {
  grid-area: A;
}
.steps-container .steps__text {
  grid-area: B;
  margin-bottom: 44px;
}
.steps-container .steps__text p {
  margin-top: 22px;
  max-width: 325px;
}
.steps-container .steps__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 24px;
  grid-area: C;
}
.steps-container .steps__list .steps__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  border-bottom: 1px solid #000;
}
.steps-container .steps__list .steps__item h3 {
  width: 50%;
}
.steps-container .steps__list .steps__item p {
  width: 50%;
  margin-top: 12px;
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */