@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #101828;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .desc {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .desc {
    display: block;
  }
  .mobile {
    display: none;
  }
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}

.text-large {
  font-size: 18px;
}

.text-normal {
  font-size: 16px;
  line-height: 140%;
}

.text-specific {
  font-size: 12px;
}

.btn-primary {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 20px;
  text-align: center;
  color: #fff;
  background: #212529;
  font-size: 16px;
  line-height: 140%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary:hover {
  background: #DDD7C0;
  color: #212529;
}

.btn-primary:active {
  background: #cbc6b2;
}

.btn-primary.disabled {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(33, 37, 41, 0.5);
}

.btn-secondary {
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-secondary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-secondary:hover {
  color: #DDD7C0;
}

.btn-secondary:hover::after {
  background: #DDD7C0;
}

.btn-secondary:active {
  color: #CBC6B2;
}

.btn-secondary:active::after {
  background: #CBC6B2;
}

.input-blok {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 16px;
}

.input-blok label {
  position: absolute;
  left: 0;
  top: 0;
  color: #212529;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-blok input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #212529;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-blok input:focus {
  border-bottom: 1px solid #DDD7C0;
}

.input-blok input:focus ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}

.input-blok input.error {
  border-bottom: 1px solid #E13A3A;
}

.input-blok input.error ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}

.input-blok input.success {
  border-bottom: 1px solid #F9C67B;
}

.input-blok input.success ~ label {
  top: -10px;
  left: -5px;
  font-size: 12px;
}

.container {
  max-width: 1440px;
  padding: 0 2%;
  margin: auto;
}

.header-container {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header-container .header__logo {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.header-container .header__logo img {
  width: 70px;
  height: 74px;
}

.header-container .header__tel {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header-container .header__tel a {
  display: block;
  position: relative;
  text-align: end;
}

.header-container .header__tel a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.header-container .header__tel a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.header-container .header__burger {
  cursor: pointer;
  display: none;
  position: absolute;
  width: 24px;
  height: 12px;
  border-radius: 100%;
  right: 2%;
  top: calc(50% - 6px);
  z-index: 100;
}

.header-container .header__burger .burger__line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-container .header__burger .burger__line:nth-child(1) {
  top: 0;
}

.header-container .header__burger .burger__line:nth-child(2) {
  top: 50%;
}

.header-container .header__burger .burger__line:last-child {
  width: 60%;
  bottom: 0;
}

.header-container .header__burger.active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .header__burger.active .burger__line:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-container .header__burger.active .burger__line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-container .header__burger.active .burger__line:last-child {
  opacity: 0;
}

.header-container .header__modal-bg {
  display: none;
}

@media (max-width: 768px) {
  .header-container {
    margin-top: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-container .header__tel {
    position: fixed;
    bottom: 0;
    right: -80%;
    max-width: 400px;
    width: 100%;
    height: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
  }
  .header-container .header__tel.active {
    right: 0;
  }
  .header-container .header__tel a {
    font-size: 20px;
    text-align: center;
  }
  .header-container .header__modal-bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: .7s;
    transition: .7s;
    z-index: 10;
  }
  .header-container .header__modal-bg.active {
    right: 0;
  }
}

.header__nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 8px;
}

.header__nav .nav__link {
  position: relative;
  font-size: 18px;
}

.header__nav .nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.header__nav .nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    background: #FFFFFF;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -80%;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 100;
  }
  .header__nav.active {
    right: 0;
  }
  .header__nav .nav__link {
    font-size: 20px;
  }
}

.footer-container {
  margin-top: 120px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer-container .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 4px;
}

.footer-container .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer-container .footer__social p {
  cursor: pointer;
  position: relative;
}

.footer-container .footer__social p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #212529;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.footer-container .footer__social p:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.footer-container .footer__info p,
.footer-container .footer__social p {
  text-transform: uppercase;
}

.hero-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
      grid-template-areas: "A A A A   A A A B   B B B B" "C C C C   1 1 D D   D D D D" "E E E 0   1 1 D D   D D D D";
}

.hero-container .hero__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: A;
}

.hero-container .hero__btn {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: B;
  -ms-flex-item-align: end;
      align-self: flex-end;
      justify-self: end;
}

.hero-container .hero__text {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: C;
}

.hero-container .hero__text p {
  font-size: 20px;
}

.hero-container .hero__img-big {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: D;
}

.hero-container .hero__img-small {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: E;
}

@media (max-width: 768px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .hero-container .hero__title {
    margin-bottom: 20px;
  }
  .hero-container .hero__btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 24px;
  }
  .hero-container .hero__text {
    margin-bottom: 24px;
  }
  .hero-container .hero__img-big {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about-conatiner {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "A A A A A A  B B B B B B" "- - - - - -  C C C C C C";
}

.about-conatiner .about__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: A;
}

.about-conatiner .about__title h2 {
  max-width: 570px;
}

.about-conatiner .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: B;
  margin-bottom: 44px;
}

.about-conatiner .about__text p {
  max-width: 450px;
}

.about-conatiner .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 24px;
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: C;
}

.about-conatiner .about__info .info__item {
  max-width: 150px;
}

@media (max-width: 768px) {
  .about-conatiner {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .about-conatiner .about__title {
    margin-bottom: 20px;
  }
  .about-conatiner .about__title h2 {
    max-width: 100%;
  }
  .about-conatiner .about__text {
    margin-bottom: 38px;
  }
  .about-conatiner .about__text p {
    max-width: 100%;
  }
  .about-conatiner .about__info {
    gap: 20px;
    -ms-grid-row: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-area: C;
  }
  .about-conatiner .about__info .info__item {
    max-width: 150px;
  }
}

.steps-container {
  margin-top: 144px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-column: 20;
  grid-column: 20px;
      grid-template-areas: "A A A A A A  B B B B B B" "- - - - - -  C C C C C C";
}

.steps-container .steps__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: A;
}

.steps-container .steps__text {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: B;
  margin-bottom: 44px;
}

.steps-container .steps__text p {
  margin-top: 22px;
  max-width: 325px;
}

.steps-container .steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  gap: 24px;
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-area: C;
}

.steps-container .steps__list .steps__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  border-bottom: 1px solid #000;
}

.steps-container .steps__list .steps__item h3 {
  width: 50%;
}

.steps-container .steps__list .steps__item p {
  width: 50%;
  margin-top: 12px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .steps-container {
    margin-top: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .steps-container .steps__text {
    margin-bottom: 28px;
  }
  .steps-container .steps__text p {
    margin-top: 26px;
    max-width: 100%;
  }
  .steps-container .steps__list {
    gap: 20px;
  }
  .steps-container .steps__list .steps__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .steps-container .steps__list .steps__item h3 {
    width: 100%;
  }
  .steps-container .steps__list .steps__item p {
    width: 100%;
    margin-bottom: 20px;
  }
}

.projects-container {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 40px;
}

.projects-container .projects__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .projects__list .projects__item {
  cursor: pointer;
  position: relative;
  width: 445px;
  height: 580px;
  overflow: hidden;
}

.projects-container .projects__list .projects__item .item__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 66px;
  left: 0;
  bottom: -66px;
  background: rgba(33, 37, 41, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

.projects-container .projects__list .projects__item .item__description p {
  color: #fff;
}

.projects-container .projects__list .projects__item .item__description img {
  width: 12px;
  height: 12px;
}

.projects-container .projects__list .projects__item:hover .item__description {
  bottom: 0;
}

.testimonials-container {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 40px;
}

.testimonials-container .testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials-container .testimonials__list .testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  width: 445px;
  height: 327px;
  padding: 40px;
  border: 1px solid #000;
}

.testimonials-container .testimonials__list .testimonials__item img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.testimonials-container .testimonials__list .testimonials__item p {
  text-align: center;
}

.form-container {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-column: 20;
  grid-column: 20px;
      grid-template-areas: "A A A A A 0  B B B B B 1";
}

.form-container img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: A;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.form-container form {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: B;
}

.form-container form h2 {
  margin-bottom: 32px;
}

.form-container form p {
  margin-bottom: 80px;
}

.form-container form button {
  margin-top: 24px;
}

.form-container form .form__apps {
  margin-top: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form-container form .form__apps img {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */