.projects-container {
      margin-top: 120px;
      @include flex-col;
      align-items: start;
      gap: 40px;

      .projects__list {
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            .projects__item {
                  cursor: pointer;
                  position: relative;
                  width: 445px;
                  height: 580px;
                  overflow: hidden;

                  .item__description {
                        position: absolute;
                        @include flex-row;
                        justify-content: space-between;
                        padding: 0 20px;
                        width: 100%;
                        height: 66px;
                        left: 0;
                        bottom: -66px;
                        background: rgba($color: $main, $alpha: 0.5);
                        transition: .5s;

                        p {
                              color: $white;
                        }
                        img {
                              width: 12px;
                              height: 12px;
                        }
                  }
                  &:hover .item__description{
                        bottom: 0;
                  }
            }
      }
}
